.wrapper {
  max-width: 960px;
  width: 100%;
  margin: auto;
  transform: scale(0.8);
  height: 100vh;
}
.landing-page {
  max-width: 960px;
  height: 475px;
  margin: 0;
  box-shadow: 0px 0px 8px 1px #ccc;
  background: #fafafa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
}
.not-fount-svg {
  width: 50%;
  max-height: 225px;
  height: auto;
  margin: 0 0 15px;
}
.not-fount-heading {
  font-size: 48px;
  margin: 0;
  text-align: center;
}
.not-fount-text {
  font-size: 16px;
  width: 35%;
  margin: 16px auto 24px;
  text-align: center;
}

