.footer {
  background: #f7f7f7;
  padding-top: 7rem;
  padding-bottom: 80px;
  color: #fff;
  position: relative; /* To ensure the overlay is positioned correctly */
  overflow: hidden;
}

.footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.774); /* Adjust the opacity as needed */
  z-index: 1;
}

.footer .container {
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
}

.social-links h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
.social-links img {
  padding-bottom: 25px;
}
.social-icons {
  /* display: flex;
      gap: 3rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}
.social-icons a {
  /* font-size: 18px; */
  /* background: #ffffff; */
  /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
      padding: 0.4rem 1rem 0.4rem 1rem;
      border-radius: 3px;
    color: #82074a; */
  /* margin-right: 18px; */
  color: #fff;
}
.social-icons a:hover {
  color: var(--primary);
}
.social-icons a i {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 3px;
  color: #82074a;
  font-size: 16px;
  margin-right: 12px;
}
li {
  list-style: none;
}
.useful-link h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
.useful-link img {
  padding-bottom: 15px;
}
.use-links {
  line-height: 32px;
}
.use-links li i {
  font-size: 14px;
  padding-right: 8px;
  color: #fff;
}
.use-links li a {
  color: #ffff;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.use-links li a:hover {
  color: var(--primary);
}
.address h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
.address img {
  padding-bottom: 15px;
}
.address-links li a {
  color: #303030;
  font-size: 15px;
  font-weight: 500;
  color: #ffff;
}
.address-links li i {
  font-size: 16px;
  padding-right: 8px;
  color: #82074a;
}
.address-links li i:nth-child(1) {
  padding-top: 9px;
}
.address-links .address1 {
  font-weight: 500;
  font-size: 15px;
  display: flex;
}
.address-links {
  line-height: 32px;
  color: #ffff;
}
.copy-right-sec {
  padding: 1.8rem;
  background: #82074a;
  color: #fff;
  text-align: center;
}
.copy-right-sec a {
  color: #fcd462;
  font-weight: 500;
}
a {
  text-decoration: none;
}
